.idea/
**/cmake-build-*/
**/out
**/target
**/.DS_Store
**/*.DS_store
**/.classpath
**/.project
**/.factorypath
**/com_crashlytics_export_strings.xml
**/crashlytics.properties
**/crashlytics-build.properties
**/fabric.properties
**/*.iml
**/*.ipr
**/*.iws
**/.mvn
**/.gradle
**/captures
**/.externalNativeBuild
**/.cxx
**/.navigation/
**/local.properties
**/lint/

**/.vscode/
**/.ipynb_checkpoints
**/test-output
**/logs

